.markdown {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h2 {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
  }

  a {
    color: #215e61;
    text-decoration: underline;
  }

  p {
    code {
      border-radius: 2px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  pre {
    padding: 20px 30px;
    border-radius: 8px;
    overflow-x: auto;
    code {
      background-color: transparent;
      outline: none;
    }
  }

  ul {
    padding-left: 30px;
    margin-top: -30px;
    line-height: normal;
    li {
      line-height: normal;
      list-style-type: circle;
    }
  }

  img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
  }
}
.dark {
  .markdown {
    a {
      color: #8fb6a0;
    }

    p {
      code {
        background-color: rgba(33, 94, 97, 0.42);
        outline: 4px solid rgba(33, 94, 97, 0.42);
      }
    }
    pre {
      background-color: rgba(33, 94, 97, 0.42);
    }
  }
}

.light {
  .markdown {
    p {
      code {
        background-color: rgba(35, 61, 77, 0.96);
        outline: 4px solid rgba(35, 61, 77, 0.96);
        color: #f5fbe6;
      }
    }
    pre {
      color: #f5fbe6;
      background-color: rgba(35, 61, 77, 0.96);
    }
  }
}
